<div class="content-wrapper">
  <!-- Container-fluid starts -->
  <div class="container-fluid">
    <!-- Main content starts -->
    <div class="row">
      <div class="col-sm-12 p-0">
        <div class="main-header">
          <h4>All Countries</h4>
          <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item">
              <a [routerLink]="['/admin-dashboard']">
                <i class="icofont icofont-home"></i>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/admin-dashboard']"> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/admin-all-countries']">All Countries</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <!-- end of row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-block">
            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <p class="txt-highlight text-center m-t-20"> Type the name of the country, region or capital
                </p>
              </div>
            </div>
            <div class="row seacrh-header">
              <div class="col-lg-8 offset-lg-2 col-sm-6 offset-sm-1 col-xs-12">
                <div class="md-group-add-on">
                  <span class="md-add-on">
                    <i class="icofont icofont-world"></i>
                  </span>
                  <div class="md-input-wrapper">
                    <input type="text" id="search-data" class="md-form-control" [(ngModel)]="term">
                    <label>Search Your Countries</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row start -->
    <div class="row box-shadow">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text">Top only</h5>
            <div class="f-right">
              <a href="" data-toggle="modal" data-target="#shadow-top">
                <i class="icofont icofont-code-alt"></i>
              </a>
            </div>
          </div>
          <div class="modal fade modal-flex" id="shadow-top" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title">Code Explanation for Top Side Shadow </h5>
                </div>
              </div>
            </div>
          </div>
          <!-- end of modal -->          
           <div class="row card-block box-list">
            <div class="col-lg-2" *ngFor="let country of countries | filter:term">   
              <div class="card">
                <img class="card-img-top" src="{{country.flag}}" alt="Card image cap">
                <div class="card-block card-country">
                  <h4 class="card-title">{{ country.name }}
                  </h4>
                  <p class="card-text">Capital: {{country.capital}}<br/> Region: {{country.region}}</p>
                  <p class="card-text">
                    <!-- <button type="button" class="btn btn-primary waves-effect waves-light">Primary </button> -->
                  </p>
                </div>
                <button type="button" (click)="onSelect(country)" class="btn btn-primary btn-block waves-effect waves-light">More <i class="icofont icofont-bubble-right"></i></button>
              </div>
            </div>
          </div>
          <!-- end of card-content -->
        </div>
        <!-- end of card-main -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->

  </div>
  <!-- end of container fluid -->
  <!-- Container-fluid ends -->
</div>