<div class="content-wrapper">

  <!-- Container-fluid starts -->
  <!-- Main content starts -->
  <div class="container-fluid">
    <div class="row">
      <div class="main-header">
        <h4>Dashboard</h4>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xl-8 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text">Where am I ?</h5>
          </div>
          <div class="card-block">
              <div class="table-responsive">
                <agm-map [latitude]="lat" [longitude]="lng">
                  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                </agm-map>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5 class="card-header-text">Country Information</h5>
          </div>
          <div class="social-profile">
            <img class="img-fluid" src="{{country.flag}}" alt="">
          </div>
          <div class="card-block">
            <div class="user-block-2-activities">
              <div class="user-block-2-active">
                <i class="icofont icofont-clock-time"></i> {{country.name|uppercase}}
                <label class="label label-primary">+ {{country.callingCodes[0]|uppercase}}</label>
              </div>
            </div>
            <div class="user-block-2-activities">
              <div class="user-block-2-active">
                <i class="icofont icofont-users"></i>{{country.capital}}
                <!-- <label class="label label-primary">390</label> -->
              </div>
            </div>

            <div class="user-block-2-activities">
              <div class="user-block-2-active">
                <i class="icofont icofont-ui-user"></i>  {{country.region}}
                <!-- <label class="label label-primary"></label> -->
              </div>

            </div>
            <div class="user-block-2-activities">
              <div class="user-block-2-active">
                <i class="icofont icofont-picture"></i> {{country.currencies[0].name }}
                <!-- <label class="label label-primary"></label> -->
              </div>

            </div>
            <div class="text-center">
              <button type="button" (click)="onSelect(country)" class="btn btn-primary btn-block waves-effect waves-light">More
                <i class="icofont icofont-bubble-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 2-1 block end -->
  </div>
  <!-- Main content ends -->
  <!-- Container-fluid ends -->
  <div class="fixed-button">
    <a href="https://themeforest.net/item/able-pro-responsive-bootstrap-4-admin-template/19300403?ref=phoenixcoded" class="btn btn-md btn-primary">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i> Upgrade To Pro
    </a>
  </div>
</div>
<!-- </div> -->